@import "@/styles/variables.scss";

.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 1.2;
  text-align: center;
  color: $color-black;
}

.subtitle {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: #474747;
}

.form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  &__input {
    padding: 23px 30px;
    font-size: 18px;
    outline: none;
    border: none;
    background: $bg-btn-secondary;
    border-radius: 12px;

    &:not(:first-child) {
      margin-top: 25px;
    }
  }

  &_btn {
    margin-top: 30px;
    width: 100%;
    height: 65px;
  }
}

.info {
  max-width: 305px;
  margin: 20px auto 0;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $color-text-gray;
}
