@import '@/styles/variables.scss';

.sort {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  &__btn {
    width: auto;
    height: auto;
    padding: 18px 25px;
    font-weight: 300;
    font-size: 15px; 
    color: $color-black;
    background: $bg-btn-secondary;
    border-radius: 25px;
    box-shadow: none;

    &:hover {
      background: $color-danger-light;
      box-shadow: none;
    }
  }
}

.cards {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10px;
  row-gap: 45px;

  &__item {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 380px;
    color: $color-light;
    background: #ee3030 center / cover no-repeat url('/img/blog-btn.png');
    border-radius: 12px;
  }

  &__link {
    width: 100%;
    max-width: 255px;
    padding: 15px 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $color-light;
    background: #1d1c2e;
    border-radius: 8px;

    &:hover {
      background: #4c4b61;
    }
  }
}
