@import "@/styles/variables.scss";

.btnDanger {
  width: 300px;
  height: 90px;
  background: $color-danger;
  box-shadow: 0px 15px 30px rgba(255, 0, 0, 0.2), 0px 3px 0px #d12121, inset 0px 0px 30px rgba(255, 255, 255, 0.2);
  border-radius: 60px;
}
