@import '@/styles/variables.scss';

.page {
  text-align: center;
  background: left 0 / 125px no-repeat url('/img/404/bg1.png'), 86% 200px / 150px no-repeat url('/img/404/bg2.png');
}

.title {
  margin: 0 auto;
  max-width: 815px;
  font-weight: 400;
  font-size: 65px;
  line-height: 1.2;
  color: $color-black;
}

.subtitle {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  color: $color-black;
}

.text {
  width: max-content;
  margin: 25px auto 0;
  padding: 9px 18px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $color-light;
  background: linear-gradient(91.35deg, #1d1c2e 2.55%, #6a6979 113.21%);
  border-radius: 12px;
}
