@import '@/styles/variables.scss';

.item {
  position: relative;
  width: 100%;
  max-width: 380px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.address {
  width: 250px;
  padding: 10px 16px;
  text-align: center;
  border-radius: 8px;
  color: $color-light;
  background-color: #1d1c2e;
}

.btn {
  position: absolute;
  z-index: 2;
  bottom: -15px;
  width: 262px;
  height: auto;
  padding: 17px 10px;
}
