@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Extra Light"), local("SF-UI-Display-Extra-Light"),
       url(./fonts/sf-ui-display-thin.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Regular"), local("SF-UI-Display-Regular"),
       url(./fonts/sf-ui-display-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Medium"), local("SF-UI-Display-Medium"),
       url(./fonts/sf-ui-display-medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Semi Bold"), local("SF-UI-Display-Semi-Bold"),
       url(./fonts/sf-ui-display-semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Bold"), local("SF-UI-Display-Bold"),
       url(./fonts/sf-ui-display-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
       url(./fonts/inter-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none;
}

body {
  font-family: "SF UI Display", Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.4375;
  color: #393939;
  background: #f4f4f4 top / contain no-repeat url('/img/body-bg.webp');
}

a, button {
  font-family: 'SF UI Display', sans-serif;
  line-height: 1;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s, background .3s, box-shadow .3s;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

section {
  padding: 60px 0;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.text-black {
  font-weight: 400;
  color: #000;
}

.text-danger {
  font-weight: 600;
  color: #ee2f2f;
}

.text-gray {
  color: #9797a3;
}

h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.33333;
  color: #000;
}

h2 {
  font-weight: 200;
  font-size: 65px;
  line-height: 1.3;
  text-align: center;
  color: #000;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4375;
  text-align: center;
  color: #393939;
}

.btn {
  display: inline-block;
  width: 300px;
  height: 90px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  background: #ee2f2f;
  box-shadow: 0px 15px 30px rgba(255, 0, 0, 0.2), 0px 3px 0px #d12121, inset 0px 0px 30px rgba(255, 255, 255, 0.2);
  border-radius: 60px;
}

.btn:hover {
  background: #ff0303;
  box-shadow: 0px 15px 30px rgba(255, 0, 0, 0.5), 0px 3px 0px #d12121, inset 0px 0px 30px rgba(255, 255, 255, 0.2);
}
