$color-light: #fff;
$color-black: #000;
$color-dark: #393939;
$color-danger: #ee2f2f;
$color-danger-active: #ff0303;
$color-warning: #f0e370;
$bg-footer: #1d1c2e;
$bg-btn-secondary: #ededed;
$bg-modal-content: #f4f4f4;
