@import "@/styles/variables.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(29, 28, 46, 0.4);
  backdrop-filter: blur(4.5px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.content {
  position: relative;
  width: 95%;
  max-width: 800px;
  padding: 10px;
  background: $bg-modal-content;
  border-radius: 18px;
  transform: scale(0);
  transition: transform .2s;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &_form {
    max-width: 550px;
    padding: 50px 50px 45px;
  }
}

.active {
  .content {
    transform: scale(1);
  }
}

.close_btn {
  position: absolute;
  z-index: 10;
  top: 35px;
  right: 30px;
  display: block;
  margin-left: auto;
  font-size: 40px;
  line-height: 0;
  color: $color-danger;
}
