@import '@/styles/variables.scss';

.item {
  width: 100%;
  max-width: 380px;
}

.header {
  display: flex;
  column-gap: 65px;

  & > * {
    padding-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.357;
    border-radius: 30px 30px 0 0;
  }
}

.text_warning {
  padding-left: 30px;
  width: 180px;
  color: #877639;
  background-color: $color-warning;
}

.text_danger {
  padding-top: 6px;
  text-align: center;
  width: 100px;
  color: $color-light;
  background-color: $color-danger;
}

.body {
  padding: 20px 0 5px 30px;
  height: 180px;
  border-radius: 0 10px 10px 10px;
  color: $color-black;
  background-color: $color-warning;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;

  &__content {
    max-width: 105px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4375;
    flex: 1 0 auto;
  }

  &__category {
    font-size: 90px;
    font-weight: 500;
  }
}
