@import '@/styles/variables.scss';

.item {
  position: relative;
  width: 100%;
  max-width: 380px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.address {
  width: 250px;
  padding: 10px 16px;
  text-align: center;
  border-radius: 8px;
  color: $color-light;
  background-color: #1d1c2e;
}

.btn {
  position: absolute;
  z-index: 2;
  bottom: -15px;
  width: 262px;
  padding: 17px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.06em;
  border-radius: 60px;
  color: $color-light;
  box-shadow: 0px 15px 30px rgba(255, 0, 0, 0.2), 0px 3px 0px #D12121, inset 0px 0px 30px rgba(255, 255, 255, 0.2);
  background-color: $color-danger;
  transition: background .3s, box-shadow .3s;

  &:hover {
    background: $color-danger-active;
    box-shadow: 0px 15px 30px rgba(255, 0, 0, 0.5), 0px 3px 0px #D12121, inset 0px 0px 30px rgba(255, 255, 255, 0.2);
  }
}
