@import "@/styles/variables.scss";

.banner {
  padding-top: 15px;
  padding-bottom: 120px;
  background-color: transparent;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  max-width: 595px;
  font-weight: 200;
}

.list {
  margin-top: 30px;
  margin-bottom: 40px;

  &__item {
    max-width: 301px;
    font-size: 18px;
    line-height: 1.16666;
    display: flex;

    &:not(:first-child) {
      margin-top: 25px;
    }

    &::before {
      content: "";
      margin-top: 7px;
      margin-right: 15px;
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 50%;
    }

    &:first-child::before {
      background: #ee2f2f;
      box-shadow: 0px 0px 6px rgba(255, 0, 0, 0.5);
    }

    &:nth-child(2)::before {
      background: #eec42f;
      box-shadow: 0px 0px 6px rgba(238, 196, 47, 0.5);
    }

    &:nth-child(3)::before {
      background: #4bc42c;
      box-shadow: 0px 0px 6px rgba(75, 195, 44, 0.5);
    }
  }
}

.btn {
  background-color: green;
}

.info {
  position: relative;
  width: 100%;
  max-width: 516px;
  max-height: 545px;
  padding: 38px 45px 30px 60px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 15px;
  color: $color-light;
  background-color: $color-danger;
  border-radius: 40px;

  .line {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: calc( 50% - .5px);
    width: 1px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
  }

  &::before {
    content: url("/img/banner-bg.png");
    position: absolute;
    z-index: 5;
    right: -75px;
    bottom: -190px;
  }

  &::after {
    content: url("/img/banner-bg-second.png");
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 135px;
  }

  &__item {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
  }

  &__title {
    margin-bottom: 6px;
    padding: 2px 20px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    background: #d52b2b;
    border-radius: 12px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4375;
  }
}
